*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%; // 10px
}

.container {
  background-color: red;
  margin: 0 auto;
  max-width: 90%;
}

@media screen and (min-width: 320px) {
  .container {
    background-color: green;
  }
}

@media screen and (min-width: 560px) {
  .container {
    background-color: orange;
  }
}

@media screen and (min-width: 640px) {
  .container {
    background-color: purple;
  }
}

@media screen and (min-width: 768px) {
  .container {
    background-color: lime;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    background-color: grey;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    background-color: yellow;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    background-color: blue;
  }
}
